body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-medium {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    color: yellow;
    background-image: url("/ui/madi.png");
}

.counterBtn{
    color: green;
}

.button {
    color: #FFF;
    background: #1c75bc;
    border-radius: 3px;
    font-size: larger;
    font-family: cursive;
    padding: 15;
    width: 200;
}

